<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Un changement a ete effectue sur votre article ! </h1>
      Bonjour Monsieur/ Madame <br> <%= @user.name %> <%= @user.username %> <br> <br>  
      Votre article a été modifié, nous etes notifié. <br> 
      Equipe Wikipidia Ynov. <br> 
      Cordialement
  </body>
</html>
